<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
    <title>Blackjack Game</title>
</head>
<body >
    <div class="container">
        <div >
            <div class="game-container">
                <h1 class="title">Blackjack</h1>
                <div class="flex justify-center">
                    <img src="/static/images/image11.jpeg" alt="image11" class="img1">
                </div>
                <div class="flex justify-center ">
                    <form action="/login" method="get">
                        <button type="submit" class="play-button ">login to play</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
