<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<nav class="navbar">
    <a href="/" class="navbar-brand">Blackjack</a>
    <div class="navbar-buttons"> 
        <a href="/play" class="navbar-button">Play Game</a>
        <a href="/score" class="navbar-button">Score</a>
        <a href="/rules" class="navbar-button">Rules</a>
        <a href="/leaderboard" class="navbar-button">Leaderboard</a>
        <form action="/logout" method="post" >
            <button type="submit" class="navbar-button logout-button">Logout</button>
        </form>
    </div>
</nav>

</body>
</html>
