<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Sign Up</title>
</head>
<body >
    <div class="container">
        <div >
            <h2 class="title">Sign Up</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for category, message in messages %}
                            <li class="flash-message {{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <div class="form-container">
                <form action="/signup" method="POST">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required minlength="5">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required minlength="5">
                    </div>
                    <button type="submit" class="button">Sign Up</button>
                </form>
                <p class="redirect-text">Already have an account? <a href="/login">Login</a></p>
            </div>
        </div>
    </div>
</body>
</html>
